.card {
    background-color: white;
}

.title {
    color: #9E9E9E;
}

.content {
    color: black;
}

.dataRow {
    padding-top: 10px;
}

.divider {
    background-color: #9E9E9E;
}

.coldest {
    background-color: #4DD0E1;
    color: white;
}

.hottest {
    background-color: #F4511E;
    color: white;
}

.wettest {
    background-color: #303F9F;
    color: white;
}

.spring {
    background-color: #66BB6A;
    color: white;
}

.summer {
    background-color: #FFB300;
    color: white;
}

.autumn {
    background-color: #8D6E63;
    color: white;
}

.winter {
    background-color: #42A5F5;
    color: white;
}